.container {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #dfe4ea;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 8px 0px;
}

.container > h2 {
  margin: 0px 8px 16px 8px;
}

.container > img {
  width: 100%;
  height: auto;
}

.body {
  padding: 0px 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title > h4 {
  color: #bcbcbc;
}

.locationIcon {
  margin-right: 8px;
}

.checkIn {
  display: flex;
  justify-content: space-between;
}

.body > button {
  width: auto;
}
