.title {
    color: var(--primary);
    text-align: center;
    padding: 2rem 0;
}

.container {
    display: flex;
    flex-direction: column;
}

input.error {
    background: #FFE1E1;
    border: 1px solid var(--error);
}

p.error {
    color: var(--error);
    font-size: 0.75rem;
    line-height: 14px;
    text-align: right;
}