stages:
  - build_frontend
  - build_backend
  - deploy_frontend
  - deploy_backend

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "development"

build_frontend:
  image: node:latest
  stage: build_frontend
  allow_failure: false
  script:
    - cd ./frontend
    # Set PATH
    - export PATH=$PATH:/usr/bin/npm
    # Install dependencies
    - npm install
    # Build App
    - CI=false npm run build
  artifacts:
    paths:
      - ./frontend/build/
  rules:
    - changes:
        - frontend/src/**/*
        - frontend/package.json

build_backend:
  image: maven:3.8.3-openjdk-17
  stage: build_backend
  allow_failure: false
  script:
    - cd ./backend
    - "mvn -DskipTests=true package"
  artifacts:
    paths:
      - ./backend/target/Grupo2-Backend.jar
  rules:
    - changes:
        - backend/src/**/*
        - backend/pom.xml

deploy_frontend:
  image: python:latest
  stage: deploy_frontend
  script:
    - pip install awscli
    - aws configure set aws_access_key_id $AWS_ACCESS_ID
    - aws configure set aws_secret_access_key $AWS_SECRET_KEY
    - aws configure set region us-east-2
    - aws s3 sync ./frontend/build s3://$grupo2-frontend --acl public-read
  dependencies:
    - build_frontend
  rules:
    - changes:
        - frontend/src/**/*
        - frontend/package.json

deploy_backend:
  image: python:latest
  stage: deploy_backend
  script:
    - pip install awscli
    - aws configure set aws_access_key_id $BACKEND_AWS_ACCESS_KEY_ID
    - aws configure set aws_secret_access_key $BACKEND_AWS_SECRET_ACCESS_KEY
    - aws configure set region us-east-2
    - aws s3 cp ./backend/target/Grupo2-Backend.jar s3://elasticbeanstalk-us-east-2-647994857716/Grupo2-Backend-$CI_PIPELINE_ID.jar
    - aws elasticbeanstalk create-application-version --application-name Grupo2-Backend --version-label Grupo2-Backend-$CI_PIPELINE_ID --source-bundle S3Bucket=elasticbeanstalk-us-east-2-647994857716,S3Key=Grupo2-Backend-$CI_PIPELINE_ID.jar
    - aws elasticbeanstalk update-environment --application-name Grupo2-Backend --environment-name Grupo2-Backend-env --version-label
  dependencies:
    - build_backend
  rules:
    - changes:
        - backend/src/**/*
        - backend/pom.xml