@import './theme.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--secondaryLight);
}

label {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.875rem;
  height: 21px;
}

input {
  height: 40px;
  width: 300px;
  background: #FFFFFF;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: none;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

input[type= password] {
  font-size: 2rem;
  letter-spacing: 5px;
}

.center {
  text-align: center;
}

/* DESKTOP */

@media (min-width: 768px) {
  input {
      width: 448px;
  }
}

/* TABLET */

@media (max-width:768px) and (min-width: 425px){
  input {
      width: 346px;
  }
}
