.container {
  width: 100%;
  background: #ffffff;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.img {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.h2 {
  padding: 0.5rem 0rem 0.2rem 0.75rem;
}

.p {
  opacity: 0.6;
  padding-left: 0.75rem;
  padding-bottom: 0.5rem;
}
