.section {
  width: 100%;
}

.section h1 {
  padding: 16px 0px;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

/* DESKTOP */

@media (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
  }
}

/* TABLET */

@media (max-width: 768px) and (min-width: 425px) {
  .container {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
