
.section {
    width: 100%;
}

.h1 {
    padding: 0.5rem 0rem 0.5rem 0.75rem;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0.75rem;
    padding-bottom: 1.1875rem;
}