/* helper classes */

.flex {
  display: flex;
}

.flexRow {
  flex-direction: row;
}

.flexColumn {
  flex-direction: column;
}

/* targeted classes */

.cardContainer {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #dfe4ea;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.imgContainer {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productImage {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  object-fit: cover;
}

.favorite {
  position: absolute;
  top: 10px;
  right: 10px;
}

.titleContainer {
  align-items: end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ratingContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.ratingScoreContainer {
  align-items: center;
  background-color: var(--secondaryLight);
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  height: 32px;
  width: 32px;
}

.bodyContainer {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.locationIcon {
  margin-right: 8px;
}

.buttonContainer button {
  width: 100%;
}

/* TABLET */
@media (max-width: 768px) and (min-width: 425px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
  }

  .imgContainer {
    align-self: center;
  }

  .contentContainer {
  }
}

/* DESKTOP */

@media (min-width: 769px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
  }

  .imgContainer {
    align-self: center;
  }

  .contentContainer {
  }
}
