.social {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 8px;
  height: 100%;
  padding: 24px 0px;
}

/* DESKTOP */

@media (min-width: 768px) {
  .social {
    margin: 8px 40px;
  }
}
