.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: 100%;
  padding: 0px 8px;
}

/* DESKTOP */

@media (min-width: 768px) {
  .social {
    margin: 8px 40px;
  }
}
