.section {
  background: var(--white);
  padding-bottom: 1.1875rem;
}

.h1 {
  padding: 1.1875rem 0rem 0.5rem 0.75rem;
}

.card_layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  grid-auto-rows: 1fr;
  margin: 0px 8px;
}

/* DESKTOP */

@media (min-width: 769px) {
  .card_layout {
    grid-template-columns: 1fr 1fr;
    margin: 0px 40px;
  }
}
