.section {
  background: rgba(56, 59, 88, 0.1);
  padding-bottom: 1.1875rem;
}

.container h1 {
  padding: 16px 0px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  grid-auto-rows: 1fr;
}

/* TABLET */
@media (max-width: 768px) and (min-width: 425px) {
}

/* DESKTOP */

@media (min-width: 769px) {
  .layout {
    grid-template-columns: 1fr 1fr;
  }
}
