.container {
  background-color: #eeeff2;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
}

.locationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.locationIcon {
  margin-right: 8px;
}

.ratingContainer {
  align-items: center;
  display: flex;
  gap: 8px;
}

.starContainer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ratingScoreContainer {
  align-items: center;
  background-color: var(--secondaryLight);
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  height: 32px;
  width: 32px;
}

/* DESKTOP */

@media (min-width: 768px) {
  .container {
    padding: 8px 40px;
  }
}
